.score {
	position: absolute;
	right: 3.125em;
	top: 1.25em;

	&__list {
		padding: 0;
		margin: 0;
		list-style: none;
		display: flex;
	}

	&__item {
		display: grid;
		justify-items: center;
		padding: .5em 1.25em;
		background-color: var(--brown);
		margin-right: .5em;
		border-radius: .25em;
		row-gap: .375em;

		&:last-of-type {
			margin-right: 0;
		}
	}

	&__text {
		@mixin text;
		letter-spacing: .1em;
		font-size: 1.125em;

		margin: 0;
		color: var(--white);

		&_color_milky {
			color: var(--milky);
		}
	}
}
