.score {
	position: absolute;
	right: 50px;
	top: 20px;

	&__list {
		padding: 0;
		margin: 0;
		list-style: none;
		display: flex;
	}

	&__item {
		display: grid;
		justify-items: center;
		padding: 8px 20px;
		background-color: var(--brown);
		margin-right: .5em;
		border-radius: 4px;
		row-gap: 6px;

		&:last-of-type {
			margin-right: 0;
		}
	}

	&__text {
		@mixin text;
		letter-spacing: .5px;
		font-size: 18px;

		margin: 0;
		color: var(--white);

		&_color_milky {
			color: var(--milky);
		}
	}
}
