@font-face {
	font-family: 'Roboto Slab';
	font-style: normal;
	font-weight: 600;
	src: 
		url('@@/fonts/RobotoSlab/RobotoSlab-SemiBold.ttf') format('truetype'),
		url('@@/fonts/RobotoSlab/RobotoSlab-SemiBold.woff') format('woff'),
		url('@@/fonts/RobotoSlab/RobotoSlab-SemiBold.woff2') format('woff2');
}
