@import url(./normalize.css);
@import url(./fonts.css);
@import url(./palette.css);

@import url(./blocks/cell.css);
@import url(./blocks/game.css);
@import url(./blocks/main.css);
@import url(./blocks/score.css);

body {
	font-size: calc(100vw / 1920 * 16);
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

	@media (max-width: 728px) {
		font-size: calc(100vw / 728 * 16);
	}
}
